
#show-bt , #show-bt1 , #show-bt2 , #show-bt3{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
a:link {
    margin-right: 10px;
    position: static;
}

div {
    overflow: auto;
}

table {
    table-layout: fixed;
    overflow: auto;
}

td , th , tr{
    overflow: hidden;
    text-align: center;
}

#message {
  display:none;
  position: relative;
    margin-bottom: 8px;
    margin-top: 8px;
}

#message i {
  font-size: 15px;
}

#error {
    display: none;
    position: relative;
    margin-bottom: 8px;
    margin-top: 8px;
}

#error i {
    font-size: 15px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}
