<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div align="center">
  <h1>Edit User</h1>
  <br />
  <form action="#" th:action="@{/save}" method="post">
    <table border="0" cellpadding="10">
      <div th:object="${userDetail}">
      <tr>
        <td>ID:</td>
        <td>
          <input type="text" th:field="*{id}" readonly="readonly" />
        </td>
      </tr>
      <tr>
        <td>Uid:</td>
        <td>
          <input type="text" th:field="*{uid}" readonly="readonly" />
        </td>
      </tr>
        <tr>
        <td>Username</td>
        <td>
          <input type="text" th:field="*{username}" readonly="readonly" />
        </td>
        </tr>
      <tr>
        <td>Creation date:</td>
        <td>
          <input type="text" th:field="*{creationDate}" readonly="readonly"/>
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text" th:field="*{email}" readonly="readonly"/>
        </td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>
          <input type="text" th:field="*{firstName}" readonly="readonly"/>
        </td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td>
          <input type="text" th:field="*{lastName}" readonly="readonly"/>
        </td>
      </tr>
      <tr>
        <td>Phone number:</td>
        <td>
          <input type="text" th:field="*{phoneNumber}" />
        </td>
      </tr>
      <tr>
        <td>Role:</td>
        <td>
        <select name="role">
          <option value="user" selected>User</option>
          <option value="admin">Admin</option>
        </select>
        </td>
      </tr>
      </div>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>