<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Register</h2>
    <div th:if="${error_username}" class="alert alert-danger">
        Your username is existed.
    </div>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" class="form-control" required="required">
        </div>
        <div>
            <label><input type="checkbox" required /> I accept the <a href="https://www.termsfeed.com/live/16378e3c-53b1-4f26-8f5a-c259f05948d6" target="_blank">Terms and Conditions</a>.</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>
