<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reset password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class="mt-5">Reset password</h2>
  <form action="/reset-password" method="post">
    <div class="form-group">
      <label for="otp">OTP</label>
      <input type="password" id="otp" name="otp" class="form-control" required="required" />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" class="form-control" required="required" />
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required="required" />
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
  </form>

  <div th:if="${password_used}" class="alert alert-warning">
    Your password has been used before.
  </div>
  <div th:if="${otp_error}" class="alert alert-danger">
    Your OTP is incorrect
  </div>
  <div th:if="${success}" class="alert alert-danger">
    Reset password successful
  </div>
  <div th:if="${not_strong_password}" class="alert alert-danger">
    Your new password is not strong enough
  </div>
  <div th:if="${password_dif}" class="alert alert-danger">
    Your new password and confirm password do not match
  </div>
  <div th:if="${password_used}" class="alert alert-danger">
    Your new password has been used before
  </div>
</div>
</body>
</html>